fastapi
uvicorn[standard]
python-multipart

# For OCR, Model Handling, and Image Processing
Pillow
opencv-python-headless
ollama

paddlepaddle
paddleocr

# For PDF file support
# PyMuPDF
pymupdf

# For string comparison in verification
python-Levenshtein==0.23.0
# python-Levenshtein